.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  overflow-x: hidden;
}

.btn-c{
  background: transparent;
  border: 0px;
  margin: 0;
  padding: 0!important;
}
.background {
  height: 100vh;
  background-color: #eee;
  position: absolute;
  overflow: auto;
  width: 100%;
}

.custom-header {
  margin: 10px 10px;
  border: 0;
}

.greenBG {
  color: green!important;
}

.background .row.first {
  background: #eee;
  /* border-bottom: 20px solid #eee; */
  box-shadow: 0 13px 12px -11px #777;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  left:0;
  margin-left:0;
  padding-bottom: 8px;
}

.background .row.bottom {

  background: #eee;
  box-shadow: 0 -9px 12px -11px #777;
  margin-left:0;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0px;
  right: 15px;
  padding-right: 10px;
}

.background .row.second {
  margin: 50px 0px;
}

.col-lg-10 .fa {
  height:30px;
}
.col-lg-10 input {
  height:30px;
  width: 400px;
  float: left;
  margin: 0;
  background: none;
  border: 0px;
  border-bottom: 2px solid #888;
  box-shadow: none;
}

.col-lg-10 input:focus{
  border-bottom: 2px solid #000;
  /*border-color: transparent;*/
  outline: none;
  box-shadow: none;
}

/*Loader*/
.us-spinner-wrapper {
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;
  background: none;
  transition: background 0.1s ease;
  pointer-events: none;
}

.us-spinner-wrapper.loading {
  z-index: 10;
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.6);
}

.right {
  float: right;
  position: absolute;
  right: 15px;
}

.panel {
  margin: 40px 50px;
  height: 200px;
}

.panel-body .main-row {
  height: 100%;
}

.panel-default {
  border-radius: 10px!important;
}

.border-left {
  border-radius: 10px!important;
  border-left: 20px red solid;
  height: 100%;
}

.row .content {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100px;
}

.row .user {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
}

.row .url {
  color: blue;
  margin-left: 0!important;
  margin-right: 0!important;
}

.row .bottom {}

.height-max {
  height: 100%;
}

.row .image {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #ddd;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.modal-header .col-lg-1,
.modal-header .col-lg-1 .fa{
  float: right;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*
/$$$$$$$$ /$$$$$$$  /$$      /$$ /$$$$$$ /$$   /$$
| $$_____/| $$__  $$| $$  /$ | $$|_  $$_/| $$$ | $$
| $$      | $$  \ $$| $$ /$$$| $$  | $$  | $$$$| $$
| $$$$$   | $$  | $$| $$/$$ $$ $$  | $$  | $$ $$ $$
| $$__/   | $$  | $$| $$$$_  $$$$  | $$  | $$  $$$$
| $$      | $$  | $$| $$$/ \  $$$  | $$  | $$\  $$$
| $$$$$$$$| $$$$$$$/| $$/   \  $$ /$$$$$$| $$ \  $$
|________/|_______/ |__/     \__/|______/|__/  \__/
*/

.tickPane {
  margin: 20px 100px;
  padding: 10px;
  background: white;
  /*box-shadow: 0 5px #ddd;*/
  /*box-shadow: 0 -9px 12px -11px #777;*/
  box-shadow: 0 13px 12px -11px #777;
  border-radius: 10px;
}

.tickPane.red {
  border-left: 20px #ED1C24 solid;
}
.tickPane.yellow {
  border-left: 20px #F7941E solid;
}
.tickPane.green {
  border-left: 20px green solid;
}

.tickPane .pane-container {
  /*height:250px;*/
  display: flex;
  /*justify-content: flex;*/
  /*align-items: flex;*/
}

.tickPane .flex-column {
  flex-direction: column;
}

.tickPane .flex-center {
  -ms-align-items: center;
  align-items: center;
}

.tickPane .flex {
  flex: 1;
}

.tickPane .flex-2 {
  flex: 2;
}

.tickPane .flex-3 {
  flex: 3;
}

.tickPane .flex-4 {
  flex: 4;
}
.tickPane .flex-5 {
  flex: 5;
}

.tickPane .tickPaneStart {
  text-align: center;
  float: left;
}

.tickPane .tickPaneMid {
  font-size: 18px;
  overflow: hidden;
  float: left;
}

.tickPane .tickPaneEnd {
  margin-right: 10px;
  text-align: right;
  justify-content: space-around;
  float: left;
}

.tickPaneEnd .sec {
  bottom: 20px;
  position: absolute;
  right: 15px;
}

.email .col-md-12 .btn {
  float:right;
}

.wide {
  width: 80%;
  margin-left: 20px;
}

.tickPane .tickContent {
  line-height: 30px;
  font-size: 0.8em;
  /*height: 150px;*/
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.tickPane .tickUser {
  margin-left: 2px;
  font-size: 0.7em;
}

.tickPane .tickSocial {
  color: #3765A3;
  height: 100%;
  font-size: 20px;
  margin: 10px 0;
}

.tickPane .tickDate {

  color: #aaa;
}

.tickPane .tickArchiveBtn {
  color: #ccc;
}

.tickPane .tickMailBtn {
  color: #00aeef;
}

tags-input .tags .tag-item{
  background: #00aeef!important;
  border: #00aeef!important;
}

.tickCountBtns {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  margin-right: 100px;
}

.tickCountBtns button {
  border: 2px solid #999;
  font-size: 18px;
  border-radius: 6px;
  background: transparent;
  margin-left: 15px;
  box-shadow: 0 14px 25px -11px #777;
}

.form-control {
  border-radius: 0 !important;
  font-size: 20px !important;
}
.tickCountBtns .tickBtnNum {
  padding: 5px;
  margin-right: -6px;
  /*border-radius: 0 6px 6px 0;*/
  color: white;
}

.count {
  font-size: 1.5em;
  font-family: monospace;
  /*font-weight: bold;*/
  margin-top: 9px;
  text-align: center;
}


.redlabel {
  color: #ED1C24!important;
}
.yellowlabel {
  color: #F7941E!important;
}
.greenlabel {
  color: green!important;
}

.tickCountBtns .tickBadBtn {
  border-color: #F7941E;
}

.tickCountBtns .tickBadBtn .tickBtnNum {
  background: #F7941E;
}

.tickCountBtns .tickUrgentBtn {
  border-color: #ED1C24;
}

.tickCountBtns .tickUrgentBtn .tickBtnNum {
  background: #ED1C24;
}

.tickCountBtns .tickBadBtn .tickBtnNum {
  background: #F7941E;
}

.tickCountBtns .tickArchivedBtn {
  border-color: green;
}

.tickCountBtns .tickArchivedBtn .tickBtnNum {
  background: green;
}



/*Modal*/
/*@media (min-width: 992px) {*/
  .modal-lg {
    width: 1500px!important;
  }
/*}*/

@media(max-width: 1024px){


  .tickPaneEnd .sec {
    margin-top: 0px;
  }

  .tickPane{
    margin:5px;
    margin-top:10px;
  }

  .tickPaneStart img{
    width: 100px;
    height: 100%;
  }
  .tickPaneMid{
    margin-top:95px;
    margin-left: -100px;
    margin-right: -50px;
  }

}
@media(max-width: 768px){
  .tickPaneStart img{
    width: 80px;
  }

}



/*Animation*/
/* when hiding the picture */
#search.ng-hide-add, #searchX.ng-hide-add        { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
#search.ng-hide-remove, #searchX.ng-hide-remove      { animation:0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  /*0% {*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, 90deg);*/
    /*transition-timing-function: ease-in;*/
    /*opacity: 0;*/
  /*}*/

  /*40% {*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, -20deg);*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, -20deg);*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, -20deg);*/
    /*transition-timing-function: ease-in;*/
    /*transition-timing-function: ease-in;*/
  /*}*/

  /*60% {*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, 10deg);*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, 10deg);*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, 10deg);*/
    /*opacity: 1;*/
  /*}*/

  /*80% {*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, -5deg);*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, -5deg);*/
    /*transform: perspective(400px) rotate3d(1, 0, 0, -5deg);*/
  /*}*/

  /*100% {*/
    /*transform: perspective(400px);*/
    /*transform: perspective(400px);*/
    /*transform: perspective(400px);*/
  /*}*/
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(0px);
    /*transform: translate3d(100%, 0, 0) skewX(30deg);*/
    opacity: 1;
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateX(-300px);
    /*transform: translate3d(100%, 0, 0) skewX(30deg);*/
    opacity: 0;
  }
}

/*@keyframes lightSpeedOut {*/
  /*0% {*/
    /*opacity: 1;*/
  /*}*/

  /*100% {*/
    /*transform: translate3d(100%, 100, 0) skewX(30deg);*/
    /*transform: translate3d(100%, 100, 0) skewX(30deg);*/
    /*transform: translate3d(100%, 100, 0) skewX(30deg);*/
    /*opacity: 0;*/
  /*}*/
/*}*/



/*.animate-repeat.ng-move,*/

/*.animate-repeat.ng-enter-stagger,*/
/*.animate-repeat.ng-leave-stagger{*/
  /*!* 200ms will be applied between each sucessive enter operation *!*/
  /*-webkit-transition-delay:0.2s;*/
  /*transition-delay:0.2s;*/
/*}*/

.animate-repeat.ng-enter,
.animate-repeat.ng-leave{
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
}

.animate-repeat.ng-leave.ng-leave-active{
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;

  opacity:0;
  /*line-height:0;*/
}
.animate-repeat.ng-enter{
  -webkit-transition:0.4s linear all;
  transition:0.4s linear all;

  opacity:0;
  line-height:0;
  /*height:0;*/
}

.animate-repeat.ng-leave{
  opacity:1;
}

.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  line-height:100%;
  /*height:100%;*/
}
