
.modal-body {
  margin: 0 80px;
}

.modal-body .col-lg-2{
  /*text-align: center;*/
}

.modal-header .xButton {
  text-align: right;
}

.form-group label{
  text-align: right;
  margin-top: -5px;
  font-size:1.9em;
}

.col-md-8 textarea{
  width:100%;
  height: 150px;
}

.modal-footer {
  border-top: none;
}
.content .col-lg-2{
  /*text-align: center;*/
}

.row .col-lg-8 .row{
  text-align: center;
  margin-top:20px;
}

.second-row {
  /*border-top: 1px solid #ddd;*/
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content{
  border-top: 1px solid #ddd;
  padding:20px 0;
}

.btn-clear{
  margin:20px 0;
  background: #00aeef;
  color: white;
  border: 1px solid #ddd;
  /*border-radius: 20px;*/
  box-shadow: 0 6px 20px -7px #777;
}

.third-row .col-lg-12 {
  text-align: center;
}

.content .col-lg-1 .btn  .fa {
  /* margin-top: 26px; */
  right: 50px;
  top: 27px;
  position: absolute;
}

.content .col-lg-2 .col-lg-6 {
  height: 100%;
  text-align: center;
}

.col-lg-6 input {
  margin: 11px!important;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding:10px;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}


@media(max-width: 1440px){

  .modal-content{
    width:100vw;
  }

  /*.modal-header .col-lg-4{*/
    /*width:50%;*/
    /*margin-right:0;*/
  /*}*/
  .modal-body{
    margin:0;
  }

  .content {
    width: 90vw;
  }

  .btn-clear{
    margin: 20px 153px;
  }

}
@media(max-width: 990px){
  .col-md-8 textarea{
    width: 90vw;
    display: block;
  }
}
