
.modal-body {
  margin: 0 80px;
}

.modal-body .col-lg-2{
  text-align: center;
}

.modal-header .xButton {
  float: right;
}

.form-group label{
  text-align: right;
  margin-top: 50px;
}

.col-md-8 textarea{
  width:100%;
  height: 150px;
}

.modal-footer {
  border-top: none;
}
.content .col-lg-2{
  text-align: center;
}

.row .col-lg-8 .row{
  text-align: center;
  margin-top:20px;
}

.second-row {
  /*border-top: 1px solid #ddd;*/
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.content{
  border-top: 1px solid #ddd;
  padding:20px 0;
}

.btn-clear{
  margin:20px 120px;
  background: transparent;
  border: 1px solid #ddd;
}

.content .col-lg-2 .fa {
  margin-top:5px;
}
.content .col-lg-2 .col-lg-6 .row {
  text-align: center;
}

.content .col-lg-2 .col-lg-6 {
  height: 100%;
  margin-top: 10px;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}


@media(max-width: 1440px){

  .modal-content{
    width:100vw;
  }

  /*.modal-header .col-lg-4{*/
    /*width:50%;*/
    /*margin-right:0;*/
  /*}*/
  .modal-body{
    margin:0;
  }

  .content {
    width: 90vw;
  }

  .btn-clear{
    margin: 20px 153px;
  }

}
@media(max-width: 990px){
  .col-md-8 textarea{
    width: 90vw;
    display: block;
  }
}
