<div class="modal-header">
  <div class="col-lg-10">
    <h3 class="modal-title">Email To</h3>
  </div>
  <div class="col-lg-1">
    <i class="fa fa-2x fa-times" ng-click="close()"></i>
  </div>
</div>

<div class="modal-body">

  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <input class="wide" type="text" placeholder="Email" ng-model="email">
      </div>
    </div>
  </div>

  <div class="row email">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" ng-click="send()">Send</button>
    </div>
  </div>
</div>
