<div class="background">
  <div class="row first">
    <div class="custom-header">
      <!--<div id="wrap">-->
      <!--<form action="" autocomplete="on">-->
      <!--<input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">-->
      <!--</form>-->
      <!--</div>-->
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <i class="fa fa-search fa-2x" style="float: left;" ng-click="search=!search"></i>
        <input type="text" class="form-control search-form" placeholder="Search" ng-show="search"
               ng-model="searchVal">
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
      <i class="fa fa-cog fa-2x right" ng-click="open('lg')"></i>
    </div>
  </div>

  <div class="row second">
    <div ng-repeat="post in posts | filter:searchVal:post.id">
    <span ng-include="'views/panels.html'">
    </span>
    </div>
  </div>


  <div class="row bottom">
    <div class="tickCountBtns">
      <button class="tickBadBtn">
        <span class="tickBtnName">Bad</span>
        <span class="tickBtnNum">20</span>
      </button>
      <button class="tickUrgentBtn">
        <span class="tickBtnName">Urgent</span>
        <span class="tickBtnNum">50</span>
      </button>
      <button class="tickArchivedBtn">
        <span class="tickBtnName">Archived</span>
        <span class="tickBtnNum">100</span>
      </button>
    </div>
  </div>
</div>
